.section-process
	background url('../images/photo-bg.jpg') 50% 0 no-repeat
	background-size cover			 
	&__in
		padding-top 53px
		padding-bottom 46px
		color $color-white
	&__title
		margin-bottom 7px
		text-align center
		color $color-white 
	&__subtitle
		margin-bottom 26px
		text-align center
		color $color-white
		
.work-photo
	margin-top 27px
	&:first-child
		margin-top 0
	&__title
		margin-bottom 9px
		font-extbld(18px, 21px)
	&__list
		font-size 0
		clearfix()
	&__i
		margin-left 16px
		display inline-block
		vertical-align top
		&:first-child
			margin-left 0
		&-img
			width 237px
			height 237px
			overflow hidden
			img
				display block
				width 238px
				height 238px  

		
	
	