mixin hero()
	+b('section').section-hero
		+e.in
			+e('h1').title СТРОИТЕЛЬСТВО ГАЗОПРОВОДА К ЧАСТНОМУ ДОМУ
				//- +e('span') СТРОИТЕЛЬСТВО ГАЗОПРОВОДА <br/>К ЧАСТНОМУ ДОМУ
			+e('p').text Монтаж газопровода <br/>10 – 20 м работы и материалы <br/>под ключ 35 000 руб.
			+b.form._consultation
				+e('h1').title БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ <br/>по строительству газопровода
				+e('p').text Введите свой телефон и получите <br/>полную консультацию по прокладке газпровода <br/>в Вашем доме от специалиста
				+e.input
					+e('label').label(for='phone') Введите телефон:
					+e('input')(type='text' placeholder='8 (910) 777-77-77' value='' id='phone')
				+e.submit
					+e('input')(type='submit' value='Получить консультацию')
				+e('p').note Заполнение заявки Вас ни к чему не обязывает! <br/>Вы сможете отказаться в любой момент!
