.section-questions
	background $color-white 
	&__in
		padding-top 58px
		padding-bottom 50px 
	&__title
		margin-bottom 40px
		text-align center
	&__i
		margin-top 60px
		&-title
			margin-bottom 15px
			font-bld(18px,20px)
			color $color-blue 
		&-text
			margin-bottom 33px
			font-reg(14px,16px)
		&:first-child
			margin-top 0
.licenses
	margin-bottom 61px
	font-size 0
	clearfix()
	&__i
		width 33.3%
		display inline-block
		vertical-align top
		&-img
			margin auto
			width 190px
			height 272px
			img
				width 190px
				height 272px

.expert
	font-size 0
	&__i
		margin-top 18px
		width 33.3%
		display inline-block
		vertical-align top
		text-align center
		&-img
			margin 0 auto 10px
			width 119px
			height 115px
			overflow hidden
			border-radius 50%
			box-shadow inset 2.5px 4.3px 8px rgba(1, 1, 1, 0.25)
			img
				width 119px
				height 115px
		&-title
			margin-bottom 0
			font-bld(18px,20px)
			color $color-blue 
		&-text
			font-it(14px,18px)
			color $color-darkgray 
			span
				display block
				font-reg(14px,18px)
			
				
			
		