mixin questions()
	+b('section').section-questions
		+e.in
			+e('h2').title САМЫЕ ЧАСТЫЕ ВОПРОСЫ
			+e('ul').list
				+e('li').i
					+e('h3').i-title Есть ли у Вас документы на проведение работ?
					+e('p').i-text Наши лицензии и допуски
					+b('ul').licenses
						+e('li').i
							+e.i-img
								+e('img')(src='assets/images/content/license.jpg' alt='лицензия')
						+e('li').i
							+e.i-img
								+e('img')(src='assets/images/content/license.jpg' alt='лицензия')
						+e('li').i
							+e.i-img
								+e('img')(src='assets/images/content/license.jpg' alt='лицензия')
				+e('li').i
					+e('h3').i-title Какого уровня специалисты работают у Вас?
					+b('ul').expert
						+e('li').i
							+e.i-img
								+e('img')(src='assets/images/content/specialist-img-1.jpg' alt='expert')
							+e('h3').i-title Алексей
							+e('p').i-text Специалист по газоснабжению <span>опыт 10 лет</span>
						+e('li').i
							+e.i-img
								+e('img')(src='assets/images/content/specialist-img-1.jpg' alt='expert')
							+e('h3').i-title Алексей
							+e('p').i-text Специалист по газоснабжению <span>опыт 10 лет</span>
						+e('li').i
							+e.i-img
								+e('img')(src='assets/images/content/specialist-img-1.jpg' alt='expert')
							+e('h3').i-title Алексей
							+e('p').i-text Специалист по газоснабжению <span>опыт 10 лет</span>


