mixin what()
	+b('section').section-what
		+e.in
			+e('h2').title ЧТО МЫ ГАЗИФИЦИРУЕМ
			+e('ul').list
				+e('li').i._1
					+e.i-icon
					+e.i-title Отдельные <br/>частные дома
				+e('li').i._2
					+e.i-icon
					+e.i-title Нежилые <br/>помещения <br/>(гаражи, склады и т.д)
				+e('li').i._3
					+e.i-icon
					+e.i-title Административные <br/>помещения <br/>(СТО, магазины, кафе и т.д)
				+e('li').i._4
					+e.i-icon
					+e.i-title Многоквартирные <br/>дома
			+e('h3').subtitle Так же создаём газовые кооперативы