.section-warning
	background-color #eaeaea
	&__in
		padding-top 41px
		padding-bottom 37px
	&__title
		margin-bottom 6px
		font-extbld(30px,18px)
		color $color-darkgray
		text-align center
		text-transform uppercase
	&__subtitle
		margin-bottom 32px
		font-reg(14px,18px)
		color $color-darkgray
		text-align center
	&__i
		min-height 128px
		display table
		clearfix()
	&__type
		position relative
		padding 8px 10px 15px 256px 
		width 667px
		height 130px
		display table-cell
		vertical-align middle
		box-shadow inset 2.5px 4.3px 8px rgba(1, 1, 1, 0.25)
		&-img
			position absolute
			top 15px
			left 16px
			bottom 15px
			width 220px
			height 98px
			img
				width 220px
				height 98px
		&-title
			font-it(18px,21px)
			color $color-darkgray 
	&__order
		padding-top 0
		padding-left 26px
		padding-right 26px
		display table-cell
		vertical-align middle
		.button
			margin-bottom 5px
			min-height 60px
			font-bld(18px,21px)
			text-align center
		&-note
			font-extbld(14px,1)
			text-align center
	
		
