.section-stats
	background-color #e4e4e4 
	&__in
		padding-top 51px
		padding-bottom 47px
		text-align center
	&__title
		margin-bottom 7px
		text-transform uppercase
		color $color-darkgray 
	&__subtitle
		margin-bottom 28px
		font-reg(14px,24px)
	&__list
		font-size 0
		clearfix()
	&__i
		display inline-block
		vertical-align top
		width 33.3%
		&-value	
			margin auto	
			margin-bottom 8px
			width 119px
			height 115px
			font-bld(30px,115px)
			color $color-blue 
			box-shadow inset 2.5px 4.3px 8px rgba(1, 1, 1, 0.25)
			border-radius 50%
		&-text
			font-reg(14px,19px)