mixin stats()
	+b('section').section-stats
		+e.in
			+e('h2').title ГАЗТЕПЛОСТРОЙ
			+e('h3').subtitle Цифры за 2014 год по газификации частных домов
			+e('ul').list
				+e('li').i._1
					+e.i-value 500
					+e.i-text Газифицировали <br/>более 500 объектов в НСК и обл
				+e('li').i._2
					+e.i-value 32 500
					+e.i-text Проложено <br/>более 32500 метров труб
				+e('li').i._3
					+e.i-value 700
					+e.i-text Более 700 проектов <br/>сделано для газификации
