.section-services
	background $color-white 
	&__in
		padding-top 23px 
		padding-bottom 25px
		clearfix()
	&__list
		font-size 0
	&__i
		position relative
		display inline-block
		vertical-align top
		padding-top 36px
		padding-right 30px
		padding-left 152px
		width 33.3%
		min-height 141px
		&-img
			position absolute
			top 0
			left 0
			width 140px
			height 140px
			overflow hidden
			box-shadow 2.5px 4.3px 5px rgba(1, 1, 1, 0.25)
			img
				display block
				width 141px
				height 141px	
		&-title
			margin-bottom 12px
			font-reg(12px,16px)
		&-price
			font-reg(20px,1)
			color $color-darkgray 