mixin services()
	+b.section-services
		+e.in
			+e('ul').list
				+e('li').i
					+e.i-img
						+e('img')(src='assets/images/content/img-1.jpg')
					+e.i-title Разработаем индивидуальный проект газификации дома
					+e.i-price 3 500 руб.
				+e('li').i
					+e.i-img
						+e('img')(src='assets/images/content/img-2.jpg')
					+e.i-title Смонтируем газовую установку/развязку <br/>доме
				+e('li').i
					+e.i-img
						+e('img')(src='assets/images/content/img-3.jpg')
					+e.i-title Подведём газовые <br/>трубы к дому
