//- include ../description/description

mixin header()

	+b('header').topline
		+e.in
			+b('a').logo._sticky(href='#top' title='Газтеплострой - группа компаний.') Газтеплострой - группа компаний.
			//- +b.slogan Газификация жилых домов и помещений <br/>Новосибирск и область
			+b('ul').menu._main
				+e('li').i
					+e('a').link(href='#latest') НАШИ РАБОТЫ
				+e('li').i
					+e('a').link(href='#how') КАК МЫ РАБОТАЕМ
				+e('li').i
					+e('a').link(href='#cost') СТОИМОСТЬ РАБОТ
				+e('li').i
					+e('a').link(href='#guarantee') ГАРАНТИЯ
			+b.contacts._sticky
				+e.title._sticky Есть вопросы? Звоните:
				+e.phone._small +7(499) 123 1212

	+b('header').header#top
		+e.in
			+e.left
				+b('a').logo(href='#' title='Газтеплострой - группа компаний.') Газтеплострой - группа компаний.
				+b.slogan Газификация жилых домов и помещений <br/>Новосибирск и область
			+e.right
				+b.contacts._top
					+e.title Есть вопросы? Звоните:
					+e.phone +7(499) 123 1212
					+e.text Часы работы: ПН-ВС 9:00-21:00
					+b('a').button.js_popup(href='#popup-1' title='Позвоните нам бесплатно') Позвоните нам бесплатно


