mixin guarantee()
	+b('section').section-guarantee#guarantee
		+e.in
			+e('h2').title ГАЗТЕПЛОСТРОЙ – ГАРАНТИЯ ВЫПОЛНЕНИЯ РАБОТ на 100%
			+e('p').text Компания ГАЗТЕПЛОСТРОЙ:
			+e('ul').list
				+e('li').i имеет все необходимые лицензии и документы,
				+e('li').i аккредитована во всех действующих ГРО (газо-распределительных организациях) Новосибирска и НСО
				+e('li').i аккредитована в эксплуатирующих организациях Новосибирска и НСО.
			+e.bottom
				+e('p') Поэтому, заказав проект и газификацию своего дома, Вы получаете <br/>весь комплекс услуг по газификации с последующим сопровождением в Межрегионгаз.
				+e('p') ТО ЕСТЬ МЫ НЕ ПОСРЕДНИКИ <br/>А значит переплаты за строительство газопровода = 0
