.section-guarantee
	padding-top 61px
	padding-bottom 63px
	background url('../images/guarantee-bg.jpg') 50% 0 no-repeat
	background-size cover 
	&__in
		padding 47px 25px 29px 25px
		background #000
		background rgba(0,0,0,.7)
		color $color-white
	&__title
		margin-bottom 39px
		font-extbld(30px,32px)
		color $color-white
		text-transform uppercase
		text-align center
	&__text 
		margin-left 92px
		margin-bottom 17px   
		font-reg(18px,21px)
	&__list
		margin-left 92px
		margin-bottom 33px
	&__i
		position relative
		margin-bottom 6px
		padding-left 50px
		min-height 40px
		font-reg(14px,40px)
		&:before
			position absolute
			content ''
			top 0
			left 0
			sprite($check_icon)
		&:last-child
			margin-bottom 0
	&__bottom
		border 3px solid #41b3d3
		margin-left 24px
		margin-right 24px
		padding 16px 23px 18px
		text-align center
		p
			margin-bottom 14px
			font-bld(18px,24px)
			&:last-child
				margin-bottom 0
			
		
		