.section-latest
	background $color-white 
	&__in
		padding-top 60px 
		padding-bottom 24px
	&__title
		margin-bottom 7px
		text-align center
		color $color-darkgray 
	&__list
		font-size 0
	&__i
		position relative
		border-top 11px solid #e4e4e4 
		padding-top 34px 
		padding-bottom 36px
		clearfix()
		&:first-child
			border-top none
		&-img
			position absolute
			top 34px
			left 0
			size 238px
			background-color #e4e4e4
			img
				size 238px
		&-title
			margin-bottom 15px
			font-reg(24px,26px)
			color $color-blue
	&__col
		float left
		width 49.5%
		&_obj
			padding-left 254px
		&_feedback
			padding-left 15px
			text-align center
	&__feedback-w
		margin-bottom 24px
		padding 24px 25px 
		width 490px
		min-height 179px
		box-shadow inset 2.5px 4.3px 8px rgba(1, 1, 1, 0.25)
	&__feedback
		&-title
			margin-bottom 9px
			font-reg(18px,21px)
			color $color-blue
			text-align left
		&-text
			font-it(14px,16px)
			text-align left
		

.obj-params
	&__i
		margin-bottom 5px
		font-reg(14px,16px)
	&__title
		color #959595
