.section-where
	&__top
		min-height 108px
		background $color-blue
	&__title
		padding-top 39px
		padding-bottom 39px
		font-extbld(30px,1)
		text-align center
		color $color-white
	&__map
		margin auto
		height 511px
		overflow hidden 		
	&__bottom
		height 16px
		background $color-blue 