mixin how()
	+b('section').section-how#how
		+e.in
			+e.title КАК МЫ РАБОТАЕМ

			+b.steps
				+e.i._1
					+e.days <span>0</span> дней
					+e.text
						+e('p') Вы оставляете заявку на консультацию специалиста
						+e('p') Наш менеджер связывается с вами и договаривается на удобное для вас время для встречи
				+e.i._2
					+e.days <span>10</span> дней
					+e.text
						+e('p') Проектировщик делает обмер помещения
						+e('p') Получаете готовый проект со сметой
						+e('p') 3 500 руб.
				+e.i._3
					+e.days <span>30</span> дней
					+e.text
						+e('p') Заключаем договор на монтаж 70% оплаты
						+e('p') Монтаж газопровода
						+e('p') Сдаем газопровод технадзору и пожарной службе

			+b.form._consultation._consultation-2
				+e('h1').title БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ <br/>по строительству газопровода
				+e('p').text Введите свой телефон и получите <br/>полную консультацию по прокладке  газпровода <br/>в Вашем доме от специалиста
				+e.input
					+e('label').label(for='phone-2') Введите телефон:
					+e('input')(type='text' placeholder='8 (910) 777-77-77' value='' id='phone-2')
				+e.submit
					+e('input')(type='submit' value='Получить консультацию')
				+e('p').note Заполнение заявки Вас ни к чему не обязывает! <br/>Вы сможете отказаться в любой момент!


