.form-questions
	background-color #eaeaea 
	&__in
		position relative
		padding-top 62px
		padding-bottom 44px
	&__top
		text-align center
		&-a
			display inline-block
			font-reg(18px,1)
			color $color-darkgray
			text-transform uppercase
			text-decoration underline
			&:hover
				text-decoration none	
.form
	&_questions
		padding 20px 50px 16px
		top 0
		margin 0 auto 45px
		width 394px
		.form__title
			margin-bottom 8px
			font-bld(24px,1)
		.form__text
			margin-bottom 9px
		.form__label
			text-align left
			display block
		.form__textarea
			margin-bottom 4px
			textarea
				border none
				padding 10px
				width 294px
				min-height 78px
				display block
				background #FFF
		.form__input
			margin 0 0 7px
			input
				padding 0 10px
				text-align left 
		.form__submit
			margin 0
			input
				padding-right 48px
				padding-left 48px
				&:hover
					text-decoration underline
					

